<div class="card">

<div class="card-header">
     <h3 class="text-center">Add Your Knowledge</h1>
</div>
   
    <form action="/kb/add" method="POST">
<div class="form-group">
<label for="title">Title</label>
<input type="text" name="title" id=""  class="form-control" required >
</div>

<div class="form-group">
<label for="content">Content</label>
<textarea name="content" id="" cols="30" rows="5"  class="form-control"  required >


</textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>




</form>


</div>